<div class="container">
    <div class="button-container">
        <button class="btn btn-warning" (click)="notificationService.displayNotification('This is a warning')">Warning</button>
        <button class="btn btn-success" (click)="notificationService.displayNotification('This is a success message')">Success</button>
        <button class="btn btn-danger" (click)="notificationService.displayNotification('This is an error message')">Error</button>
        <button class="btn btn-info" (click)="notificationService.displayNotification('Some Information!')">Information</button>
        <div class="note">(Click a button to trigger a notification..)</div>
    </div>
</div>